/* background classes */
.bg-black {
  background-color: $color-black;
}
.bg-white {
  background-color: $color-white;
}

/* border classes */
.radius {
  border-radius: 3px;
}

/* color classes */
.black {
  color: $color-black;
}
.blue {
  color: $color-blue;
}
.blue-lighter {
  color: $color-blue-lighter;
}
.gray {
  color: $color-gray;
}
.gray-lighter {
  color: $color-gray-lighter;
}
.green {
  color: $color-green;
}
.red {
  color: $color-red;
}
.white {
  color: $color-white;
}

/* font classes */
.bold {
  font-weight: $font-bold;
}
.title {
  font-size: 48px;
  font-weight: $font-light;
}
.sub-title {
  font-size: 24px;
  font-weight: $font-light;
}
.form {
  font-size: 20px;
  font-weight: $font-regular;
}
.label {
  font-size: 14px;
  font-weight: $font-regular;
}
.normal {
  font-size: 14px;
  font-weight: $font-regular;
}
