@import "./_variables.scss";

/* background classes */
.bg-black {
  background-color: $color-black;
}
.bg-white {
  background-color: $color-white;
}

/* border classes */
.radius {
  border-radius: 3px;
}

/* color classes */
.black {
  color: $color-black;
}
.blue {
  color: $color-blue;
}
.blue-lighter {
  color: $color-blue-lighter;
}
.gray {
  color: $color-gray;
}
.gray-lighter {
  color: $color-gray-lighter;
}
.green {
  color: $color-green;
}
.red {
  color: $color-red;
}
.white {
  color: $color-white;
}

/* font classes */
.bold {
  font-weight: $font-bold;
}
.italic {
  font-style: italic;
}
.ft-title {
  font-size: 48px;
  font-weight: $font-light;
}
.ft-sub-title {
  font-size: 24px;
  font-weight: $font-light;
}
.ft-form {
  font-size: 20px;
  font-weight: $font-regular;
}
.ft-label {
  font-size: 14px;
  font-weight: $font-regular;
}
.ft-normal {
  font-size: 16px;
  font-weight: $font-regular;
}

/* mixin */
@mixin box($border: none, $radius: 0, $lineHeight: inherit, $height: inherit, $width: inherit, $bgColor: $color-white, $padding: inherit, $box-sizing: inherit) {
  background-color: $bgColor;
  border: $border;
  border-radius: $radius;
  box-sizing: $box-sizing;
  height: $height;
  line-height: $lineHeight;
  padding: $padding;
  width: $width;
}
@mixin flex-box($justify-content: flex-start, $align-items: flex-start, $direction: row, $wrap: nowrap) { //, $flex-shrink: 1, $flex-grow: 0, $flex-basis: auto) {
  align-items: $align-items;
  display: flex;
  // flex-basis: $flex-basis;
  flex-direction: $direction;
  // flex-grow: $flex-grow;
  // flex-shrink: $flex-shrink;
  flex-wrap: $wrap;
  justify-content: $justify-content;
}

// 使用方式：
// label(class="warn")
// label 必須使用 position: relative
// $position:
//    right: 顯示在右邊，其 label 必須放在 target 之後
//    left: 顯示在左邊，其 label 必須放在 target 之前
@mixin warn-tool-tip($position, $message) {
  @if $position == "right" {
    &::before {
      content: "";
      border: 6px solid transparent;
      border-right-color: $color-yellow;
      position: absolute;
      right: -15px;
      top: 0px;
      width: 4px;
      z-index: 222;
    }
    &::after {
      background-color: $color-yellow;
      border-radius: 4px;
      color: $color-white;
      content: $message;
      left: 14px;
      padding: 6px 8px;
      position: absolute;
      white-space: nowrap;
      top: -10px;
      z-index: 2;
    }
  } @else if $position == "left" {
    &::after {
      content: "";
      border: 6px solid transparent;
      border-left-color: $color-yellow;
      position: absolute;
      right: -1px;
      top: 0px;
      width: 4px;
      z-index: 222;
    }
    &::before {
      background-color: $color-yellow;
      border-radius: 4px;
      color: $color-white;
      content: $message;
      padding: 6px 8px;
      position: absolute;
      right: 14px;
      white-space: nowrap;
      top: -10px;
      z-index: 2;
    }
  }
}
