@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900");
@import "./partials/variables";
@import "./partials/transition";
@import "./partials/predefined";

* {
  outline: none;
}

.header {
  @include flex-box(flex-start, center, column, wrap);
  // margin-top: 41px;

  .title {
    line-height: 57px;
    text-align: center;
  }

  .sub-title {
    line-height: 28px;
    text-align: center;
  }
}

.label {
  margin-bottom: 8px;
  margin-top: 24px;
}

label {
  &.warn-sign {
    color: $color-yellow;
    content: "";
    font-size: 24px;
    position: absolute;
    left: -48px;
    top: -6px;
    z-index: 2;
  }
}

input {
  &.warn {
    border: 2px solid $color-yellow;
  }
  //必須放在 warn 之後，才會在有 warn 時有 focus 效果
  &.focus {
    transition: border 0.2s ease-in;
    border: 2px solid $color-blue;
  }
}

.input {
  box-sizing: border-box;
  color: $color-gray;

  @include box(
    2px solid $color-black,
    8px,
    52px,
    52px,
    100%,
    $color-white,
    12px 20px,
    box-sizing
  );
}
.input-w140 {
  box-sizing: border-box;
  color: $color-gray;
  @include box(
    2px solid $color-black,
    8px,
    52px,
    52px,
    140px,
    $color-white,
    12px 20px,
    box-sizing
  );
}
.input-w220 {
  box-sizing: border-box;
  color: $color-gray;
  @include box(
    2px solid $color-black,
    8px,
    52px,
    52px,
    220px,
    $color-white,
    12px 20px,
    box-sizing
  );
}
.submit {
  box-sizing: border-box;
  color: $color-white;
  margin-top: 40px;
  text-align: center;
  transition: background-color 0.5s ease-in;

  @include box(
    none,
    8px,
    52px,
    52px,
    100%,
    $color-blue-lighter,
    none,
    box-sizing
  );
  
  &.active {
    background-color: $color-blue;
    cursor: pointer;

    &:active {
      border: 2px solid $color-blue-lighter;
    }
  }
}
