@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900");
@import "./partials/variables";
@import "./partials/predefined";

.header {
  @include flex-box(flex-start, center, column, wrap);
  // margin-top: 41px;

  .title {
    line-height: 57px;
    text-align: center;
  }

  .sub-title {
    line-height: 28px;
    text-align: center;
  }
}

.label {
  margin-bottom: 8px;
  margin-top: 24px;
}

.input {
  box-sizing: border-box;
  color: $color-gray;
  @include box(
    2px solid $color-black,
    8px,
    52px,
    52px,
    100%,
    $color-white,
    12px 20px,
    box-sizing
  );
}
.input-w140 {
  box-sizing: border-box;
  color: $color-gray;
  @include box(
    2px solid $color-black,
    8px,
    52px,
    52px,
    140px,
    $color-white,
    12px 20px,
    box-sizing
  );
}
.input-w220 {
  box-sizing: border-box;
  color: $color-gray;
  @include box(
    2px solid $color-black,
    8px,
    52px,
    52px,
    220px,
    $color-white,
    12px 20px,
    box-sizing
  );
}
.submit {
  color: $color-white;
  margin-top: 40px;
  text-align: center;
  @include box(
    none,
    8px,
    52px,
    52px,
    100%,
    $color-blue-lighter,
    none,
    box-sizing
  );
}
